{# src/OC/PlatformBundle/Resources/views/Member/index.html.twig #}

{% extends "DigitarAssurexBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block digitarassurex_body %}

    <h2>Liste des membres</h2>

    <ul>
        {% for member in listMembers %}
            <li>
                <a href="{{ path('digitar_assurex_view', {'id': member.id}) }}">
                    {{ member.name }}
                </a>
                mail {{ member.mail }},
                date {{ member.birthday|date('d/m/Y') }}
            </li>
        {% else %}
            <li>Pas (encore !) de membres</li>
        {% endfor %}
    </ul>
    <ul class="pagination">
        {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
        {% for p in range(1, nbPages) %}
            <li{% if p == page %} class="active"{% endif %}>
                <a href="{{ path('digitar_assurex_home', {'page': p}) }}">{{ p }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}