{# src/Digitar/AssurexBundle/Resources/view/Member/view.html.twig #}

{% extends "DigitarAssurexBundle::layout.html.twig" %}

{% block title %}
    Détails d'un membre - {{ parent() }}
{% endblock %}

{% block digitarassurex_body %}

    <h2>{{ member.name }}</h2>
    <i>Gsm {{ member.gsm }}, le {{ member.date|date('d/m/Y') }}</i>

    <div class="well">
        {{ member.mail }}
    </div>

    <p>
        <a href="{{ path('digitar_assurex_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>
        <a href="{{ path('digitar_assurex_edit', {'id': member.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Modifier le membre
        </a>
        <a href="{{ path('digitar_assurex_delete', {'id': member.id}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Supprimer le membre
        </a>
    </p>

{% endblock %}